body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 14px 20px;
}

.navbar .logo {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.navbar-buttons {
    display: flex;
    gap:20px;
}

.btn-ingresar{
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.btn-ingresar:hover{
    background-color: #444;
    border-color: white;
}

.btn-registrate {
    background-color: #04a5eb;
    border: none;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.btn-registrate:hover{
    background-color: #87cefa;
}

.navbar-buttons button:hover{
    background-color: #999;
}

.navbar .logo:hover {
    background-color: transparent;
}

header {
    background-color: #05BFFA;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.buscador-container{
    position: relative;
    display: inline-block;
    width: 60%;
}

.buscador {
    width: 70%;
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

.buscador-btn {
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.buscador-btn img{
    width: 20px;
    height: 20px;
}

main {
    padding: 20px;
    background-color: white;
    min-height: 500px ;
}

.card-container {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
    align-items: stretch; 
}


.card {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
}


.card-primera {
    background-color: #ffe5e5; 
}

.card-segunda {
    background-color: #e5f7ff;
}

.card-tercera {
    background-color: #e5ffe5; 
}


footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 5px;
}